<!--Home -->

<!-- Small mobile Nav Bar -->
<div class="navbar-fixed hide-on-large-only">
	<nav>
	    <div class="nav-wrapper black">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col push-s4 s4">			
				      <ul>
				        <li><a href="sass.html" class=""><i class="material-icons small">perm_identity</i></a></li>
				        <li><a href="badges.html"><i class="material-icons small">work</i></a></li>
				        <li><a href="collapsible.html"><i class="material-icons small">message</i></a></li>
				        <li><a href="collapsible.html"><i class="material-icons small">list</i></a></li>
				      </ul>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	  </nav>
</div>
<!-- End of small Nav Bar -->

<div class="hide-on-med-and-down">
	<div class="row full-home-page">
		<div class="col l12 home-welcome">
			<h1 class="purple-text text-darken-4 home-text center">
				<div><%= image_tag "BiancaGeomCut.png",  class: "bianca-text"%><%= image_tag "semprit.png", class: "semp" %></div> </h1>
				<div class="brains-holder">
					<%= image_tag "humanBrain.png", class: "brains center"%>
				</div>

				<div class="design-text purple-text text-darken-4"><h4>WEB DESIGN <br><span class="move-text"> GRAPHIC DESIGN</span> <br><span class="move-text">WEB DEVELOPER</span> </h4></div>
		</div>
		<!-- Left side -->
		<div class="col l6 left-side">
		</div>

		<div class="col l6 left-side-text">
			<div class="enter-left">
				<h2><a href="/left" class="enter-left-text">ENTER</a></h2>
				<h5 class="welcome-left-text blue-text center-align">Welcome</h5>
			</div>
			<div class="bits-background">
				<%= image_tag "dahliaBits.png"%>
			</div>
		</div>
		<!-- Right side -->
		<div class="col l6 right-side">
		</div>

		<div class="col l6 right-side-text">
			<div class="enter-right">
				<h2><a href="/right"  class="enter-right-text blue-text">Enter</a></h2>
				<h5 class="welcome-right-text blue-text center-align">Welcome</h5>
			</div>
			<div class="right-side-paint">
				<%= image_tag "paintfull.png"%>
			</div>
			<div class="right-background">
				<%= image_tag "blueblack.jpg"%>
			</div>
		</div>
	</div>
</div>