<main>

<!-- Nav -->





<div class="row nav-bar z-depth-4">
<div class="nav-bar-holder">
	<%= image_tag "BiancaGeomCut.png", class: "nav-bianca-left"%>
	
	<div class="nav-text-holder inline">
		<span class="nav-text blue-text"><h4>HOME</h4></span>
	</div> 
	<div class="center">
		<ul class="blue-text list-holder-left">
			<li class="list-item-left">
				Home
			</li>
			<li class="list-item-left">
				Skills
			</li>
			<li class="list-item-left">
				Portfolio
			</li> 	
			<li class="list-item-left">
				My Journey
			</li>
			<li class="list-item-left">
				Contact me
			</li>
		</ul>
	</div>

	<%= image_tag "semprit.png", class: "semprit-left"%>
</div>
</div>

<div class="background">
	
</div>

<div class="stars" id="particles-js">
	
</div>

<div class="row first-row">
	<div class="col l12 left-top">
		<div class="left-bianca-text">
			<div class="left-side-top">
				<div class="center">
					
				<%#= image_tag "BiancaGeomCut.png"%> 

				</div><br>
				<div class="top-text-holder-left row">
					<div class="col l8">
						<h2 class="white-text flow-text summary-small-left">Hi! I'm Bianca and I am a web designer, junior full stack developer, and writer.</h2>
						<h4 class="white-text flow-text summary-small-left">My passion is to help others through coding. I'm currently based in Miami, FL and an online student at Strayer University</h4>
					</div>
					<div class="col l4">
						<%= image_tag "profile.jpg", class: "profile-left" %>
					</div>
					
				</div>
				<h4 class="white-text center-align quote">"I go to seek a great perhaps..." - Francois Rabelais</h4>
				
			</div>
		</div>
	</div>
</div>

<!-- Skills -->

<div class="row skills-row">
	<div class="col l12 m12 s12 left-skills center">
		<div class="white-text border-left-skills">
		<div class="center row skills-first-row">
			<h3 >Skills </h3>

		</div>
		<div class="center row">
			<div class="javascript-left col l2">
				<%= image_tag "javascript.png", class: "skills-image"%> 
			            
			</div>
			<div class="html-left col l2">
				<%= image_tag "CSS3_and_HTML5_badges.svg.png", class: "skills-image"%> 
				
			</div>
			<div class="Ruby-left col l2">
				<%= image_tag "ruby.png", class: "skills-image"%> 
				
			</div>
			<div class="rails-left col l2">
				<%= image_tag "blurred-abstract.jpg", class: "skills-image"%> 
				
			</div>
			<div class="linux-left col l2">
				<%= image_tag "ubuntu.png", class: "skills-image"%> 
				
			</div>
			<div class="c++-left col l2">
				<%= image_tag "cplusplus.png", class: "skills-image"%> 
				
			</div>
		</div>
		<div class="row">
			<div class="col offset-l1 l9">
				<p class="skills-text left-align">
					I first learned about HTML when frontpage (yeah that...) and reading the source of a website was the way to learn how to program. In Broward College I learned <strong>C++</strong> and the basics of Computer Science. Throughout my experiences I dual booted with Windows 7/10 and Ubuntu. I wanted to learn more, so I attended Ironhack, a programming bootcamp, where I learned Ruby, Javascript, Ruby on Rails and furthered my knowledge in HTML5 and CSS3.  
				</p>
				
			</div>
		</div>
		</div>
	</div>
</div>

<!-- Projects -->
<div class="row">
	<div class="col l12 s12 m12 left-portfolio purple darken-1">
		<div class="col l4 s4 m4">
			<h3 class="center-align"> <span class="text-border"> Projects: </span></h3>
			<div class="projects-holder">
		<%= image_tag "macbook.png", class: "macbook"%>
			</div>
		</div>
		<div class="col l8 s8 m8">
			<div class="card yellow darken-2 col l7 s7 m7 push-l1 push-s1 push-m1 z-depth-4 project-left-details">
	            <div class="card-content black-text">
	              <span class="card-title ironhack-details"> Ironhack Final Project</span>
	              <p class="">This project allows people to give back without taking money from them. Instead, spend some time sitting at a computer doing good for the world. There is so much we can do at our fingertips, here is another way to feel a little better and game your heart out. </p>
	            </div>
	            <div class="card-action">
	              <a href="https://mighty-bastion-71330.herokuapp.com/" class="final-project-link">Final Project</a>
	            </div>
            </div>
		</div>
	</div>
</div>

<!-- Resume -->

<div class="row">
	<div class="col l12 s12 m12 left-resume">
		<h2 class="white-text">My Journey...</h2>
		<div class="parts-resume-left">
			<div class="row">
				<div class="col l10 m10 s10 push-l1 push-s1 push-m1">
					<div class="row">
						<div class="col l12 s12 m12 center-align">
							<h3 class="white-text">I'm constantly learning</h3>
						</div>
					</div>

					<div class="row ironhack-resume-left blue lighten-2">
						<div class="col push-l2 push-s2 push-m2 l8 s8 m8 ">
							<h5 class="white-text">
								<strong>Ironhack</strong>
							</h5>
							<p class="white-text">
								Full-stack Web Development Bootcamp (400+ hours)
								<br>                                    
								                                  
								What I learned: JavaScript, HTML, CSS, Ruby, Ruby on Rails, MySQL, jQuery, Heroku
								<br>                                    
								<br>                                    

								Ironhack Final Project: <a href="https://mighty-bastion-71330.herokuapp.com/_blank">Final Project</a>  - Integration of  ads into retro style games
								<br>                                    
								Named top 5 projects by Tech panel judges and Most Technically Complex - Ironhack Hackshow
								<br>                                    
								I used Javascript, Heroku, HTML5, CSS, Ruby on Rails, Ruby, JQuery, and APIs
							</p>

							<hr>
						</div>
						
					</div>

					<div class="row">
						<div class="col l2 s3 m3">
						.
						</div>

						<div class="col l8 s6 m6 ">
							<h5 class="white-text">
								<strong>Strayer University</strong>
							</h5>
							<p class="white-text">
								Pursuing Bachelors in Computer Science        
							</p>
							<hr>
						</div>

						<div class="col l2 m3 s3">
							<p class="white-text">
								Online - Expected Dec. 2018
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col l2 s3 m3">
						.
						</div>

						<div class="col l8 s6 m6 ">
							<h5 class="white-text">
								<strong>Broward College</strong>
							</h5>
							<p class="white-text">
								Associates of Science in Computer Engineering
							</p>
							<hr>
						</div>

						<div class="col l2 m3 s3">
							<p class="white-text">
								Jun. 2013 - Dec. 2015
							</p>
						</div>
					</div>
				
				</div>
			</div>

            <div class="row enter-row center">
            	<h4 class="left-press-enter green-text">Press Enter</h4>
            </div>
		</div>
	</div>
</div>

</main>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                <h5 class="white-text">Bianca Semprit</h5>
                <p class="grey-text text-lighten-4">Form goes here eventually</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
</footer>