<main>

<!-- Nav -->

<div class="row nav-bar">
		<%= image_tag "laptop.png", class: "computer-nav"%>
	<div class="nav-text-holder inline">
		<%= image_tag "blinkerGreen.gif", class: "blinker"%>
		<span class="nav-text white-text inline">HOME</span>
	</div> 
	<div class="center">
	</div>
</div>


<div class="row first-row">
	<div class="col l12 left-top">
		<div class="left-bianca-text center quote">
			<span class="text-border"><%= image_tag "BiancaGeomCut.png"%></span><br>
			<%= image_tag "divider.png", class: "left-divider"%><br>
			<h5 class="white-text z-depth-4 center-align waves-effect waves-purple black">"I go to seek a great perhaps..." - Francois Rabelais</h3>
		</div>
		<div class="col l6 center quote">
		</div>
	</div>
</div>

<!-- Skills -->

<div class="row skills-row">
	<div class="col l12 m12 s12 left-skills center">
		<%= image_tag "carbonAtom.gif"%>
		<div class="skills-buttons-left center">
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Javascript</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>HTML5/CSS3</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Ruby</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Ruby on Rails</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Linux</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>C++</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Photoshop</a>
		</div>
	</div>
</div>

<!-- Projects -->
<div class="row">
	<div class="col l12 s12 m12 left-portfolio purple darken-1">
		<div class="col l4 s4 m4">
			<h3 class="center-align"> <span class="text-border"> Projects: </span></h3>
			<div class="projects-holder">
		<%= image_tag "macbook.png", class: "macbook"%>
			</div>
		</div>
		<div class="col l8 s8 m8">
			<div class="card teal darken-1 col l8 s8 m8 push-l2 push-s2 push-m2 z-depth-4 project-left-details">
	            <div class="card-content white-text">
	              <span class="card-title"> Ironhack Final Project</span>
	              <p>This project allows people to give back without taking money from them. Instead, spend some time sitting at a computer doing good for the world. There is so much we can do at our fingertips, here is another way to feel a little better and game your heart out. </p>
	            </div>
	            <div class="card-action">
	              <a href="https://mighty-bastion-71330.herokuapp.com/">Final Project</a>
	            </div>
            </div>
		</div>
	</div>
</div>

<!-- Resume -->

<div class="row">
	<div class="col l12 s12 m12 left-resume">
		<h2 class="white-text center-align"><span class="text-border">Resume</span></h2>
		<div class="parts-resume-left">
			<div class="row">
				<div class="col l10 m10 s10 push-l1 push-s1 push-m1">
					<div class="row">
						<div class="col l2 s3 m3">
							<h5 class="white-text">EDUCATION</h5>
						</div>
						<div class="col l8 s6 m6 ">
							<h5 class="white-text">
								<strong>Ironhack</strong>
							</h5>
							<p class="white-text">
								Full-stack Web Development Bootcamp (400+ hours)
								<br>                                    
								Clean code principles, design patterns, and test driven development (TDD)
								<br>                                    
								Technologies taught: JavaScript, HTML, CSS, Ruby, Ruby on Rails, MySQL, jQuery, Heroku
								<br>                                    
								<br>                                    

								Ironhack Final Project: <a href="https://mighty-bastion-71330.herokuapp.com/_blank">Final Project</a>  - Integration of  ads into retro style games
								<br>                                    
								Named top 5 projects by Tech panel judges and Most Technically Complex - Ironhack Hackshow
								<br>                                    
								Technologies: Javascript, Heroku, HTML5, CSS, Ruby on Rails, Ruby, JQuery, APIs
							</p>

							<hr>
						</div>
						<div class="col l2 m3 s3">
							<p class="white-text">
								January 2016 - March 2016
							</p>
							
						</div>
						
					</div>

					<div class="row">
						<div class="col l2 s3 m3">
						.
						</div>

						<div class="col l8 s6 m6 ">
							<h5 class="white-text">
								<strong>Strayer University</strong>
							</h5>
							<p class="white-text">
								Pursuing Bachelors in Computer Science        
							</p>
							<hr>
						</div>

						<div class="col l2 m3 s3">
							<p class="white-text">
								Online - Expected Dec. 2018
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col l2 s3 m3">
						.
						</div>

						<div class="col l8 s6 m6 ">
							<h5 class="white-text">
								<strong>Broward College</strong>
							</h5>
							<p class="white-text">
								Associates of Science in Computer Engineering
							</p>
							<hr>
						</div>

						<div class="col l2 m3 s3">
							<p class="white-text">
								Jun. 2013 - Dec. 2015
							</p>
						</div>
					</div>
				
				</div>
			</div>

            <div class="row enter-row center">
            	<h4 class="left-press-enter green-text">Press Enter</h4>
            </div>
		</div>
	</div>
</div>

</main>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                <h5 class="white-text">Bianca Semprit</h5>
                <p class="grey-text text-lighten-4">Form goes here eventually</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
</footer>